<?xml version="1.0"?>
<packages>
    <package id="1password" />
    <package id="7zip.install" />
    <package id="7zip" />
    <package id="chocolateygui" />
    <package id="googlechrome" />
    <package id="git.install" />
    <package id="git" />
    <package id="vim" />
    <package id="hg" />
    <package id="mingw" />
    <package id="mingw-get" />
    <package id="winmerge" />
    <package id="powershell" />
    <package id="vagrant" />
    <package id="zoomit" />
</packages>
